body {
  background-color: #262e33;
  padding: 5;
  margin: 5;
  font-family: Arial, Helvetica, sans-serif;
}

canvas {
  /* background-color: #323b41; */
  background-color: white;
}

button {
  width: 45%;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 5px;
}

#buy {
  background-color: yellowgreen;
}

#sell {
  background-color: orangered;
}

hr {
  color: white;
}

input, select {
  /* width: 100%; */
  padding: 10px 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid grey;
}

#container {
  display: flex;
  flex-direction: row;
}

#dashboard {
  width: 75%;
  border-radius: 15px;
  height: 90vh;
}

#currentTradeChart {
  width: 99.5%;
  border-radius: 5px;
  height: 68vh;
}

#userChart {
  width: 49.5%;
  border-radius: 5px;
}

#globalChart {
  width: 49.5%;
  border-radius: 5px;
}

#controls {
  padding: 10px;
  width: 25%;
  border-radius: 5px;
  background-color: white;
  height: 96vh;
}