body {
  background-color: #262e33;
  padding: 5;
  margin: 5;
  font-family: Arial, Helvetica, sans-serif;
}

canvas {
  /* background-color: #323b41; */
  background-color: white;
}

a {
  color: black;
  text-decoration: none;
}

button {
  width: 45%;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 5px;
}

#buy, #historical_btn {
  background-color: yellowgreen;
}

#sell {
  background-color: orangered;
}

/* mouse over link */
#buy:active, #historical_btn:active {
  background-color: green;
}

/* selected link */
#sell:active {
  background-color: brown;
}

hr {
  color: white;
}

input, select {
  /* width: 100%; */
  padding: 10px 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid grey;
}

#news {
  padding: 10px 4px 0 0;
  display: flex;
}

#container {
  display: flex;
  flex-direction: row;
}

#dashboard {
  width: 75%;
  border-radius: 15px;
  height: 90vh;
}

#currentTradeChart {
  width: 99.5%;
  border-radius: 5px;
  height: 68vh;
}

#userChart {
  font-size: 12px;
  line-height: 20px;
  padding: 1px 15px;
  width: 479px;
  height: 318px;
  background-color: white;
  border-radius: 5px;
  margin-right: 10px;
}

#globalChart {
  font-size: 12px;
  line-height: 20px;
  padding: 1px 15px;
  width: 479px;
  height: 318px;
  background-color: white;
  border-radius: 5px;
}

#controls {
  padding: 10px;
  width: 25%;
  border-radius: 5px;
  background-color: white;
  height: 104vh;
}

table {
  font-size: 12px;
  border-collapse: collapse;
  width: 100%;
  height: 100px;
  overflow: scroll;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 3px;
}

tr:nth-child(even) {
  background-color: yellowgreen;
}

@media only screen and (max-width: 1000px) {
  input, select {
    width: 100%;
  }
  
  #news {
    display: block;
  }

  #userChart {
    width: 94%;
    height: 310px;
    border-radius: 5px;
    margin-bottom: 12px;
  }
  
  #globalChart {
    width: 94%;
    height: 310px;
    border-radius: 5px;
  }

  #currentTradeChart {
    width: 98% !important;
    height: 500px !important;
  }

  #controls {
    height: 143vh;
  }
}